*{
    margin: 0px;
    padding: px;
    box-sizing: 0px;

    font-family:Arial, Helvetica, sans-serif;
}

#footer{
    width: 100%;
    height: auto;
    background-color: #F0F1F7;
    
}

.link{
    width: 100%;
    height: 53px;
    background-color: #545871;
}
.Smedia{
   
    width: 100%;
    height: 40px;
    margin-top: .1px;
    background-color: #545871;
}
.copyRight{
    
    width: 100%;
    height: 60px;

}
#digicert{
    /* border: 1px solid red; */
    width: 100%;
    height:auto ;
}


.icon{
   
   
    width: 100%;
    height: 50px;
   
}
p{
   
    font-size: .6875rem;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 10px;
    text-align: left;
    width: 85%;
color: #344B8E;
    font-size: 8px;
    line-height: 15px;
}
a{
    font-size: 9px;
}
a:hover{
    color: #85C3F7;
}
.font-height{
    margin-top: 5px;
}
.link>div{
margin-left:819px;



}
.friend{
    margin-left: 5px;
    margin-top: -20px;
    color: #dadbe6;
}
img{
   
 
    width: 7%
}
.icon>div{
    
    margin-left: 300px;
}
/* .digicert>img{
    width: 100%;
} */
.logo{
    
    color: white;
    margin-top: -5px;
    margin-left: 935px;}
.Smedia>a{
    margin-left: 5px;
    border-left: .1px solid gray;
    padding: 2px;
color: white;
text-decoration: none;
}
.sCountry{
    font-size: 9px;
  border: none;
    padding: 0px ;
  color: white;
     background: #545871
}
.digi{
    margin-top: 10px;
    margin-bottom: 10px;
margin-left: 50%;
}
h6{
    display: inline;
    color: white;
    margin-top: 50px;
}
input{
    text-decoration: none;
    border: none;
    margin-top: 20px;
    font-size: x-small;
}
p>a{
  color:#344B8E ;
}
img:hover{
    cursor: pointer;
}
i{
    cursor: pointer;
}


